tr:nth-child(2n+1) {
    background-color: #EAEAEA;
}
th, td {
    text-align: center;
}
tr:hover {
    background-color: lightblue;
}
p {
    color: black;
    font-family: "Times New Roman";
    font-size: large;
}
p:first-letter {
    color: saddlebrown;
    font-size: x-large;
    font-family: "Brush Script MT" ;
}
